## Introduction to pandas DataFrames

In [1]:
import pandas as pd

## Creationg DataFrames from Scratch

### 1- Construct a DataFrame from a dictionary of lists

In [2]:
data = {'ProductName':['Product A', 'Product B', 'Product C'], 'ProductPrice':[100, 200, 300]}
df = pd.DataFrame(data)
df

  ProductName  ProductPrice
0   Product A           100
1   Product B           200
2   Product C           300

### 2- Construct a DataFrame from a dictionary of lists + specify an index

In [3]:
data = {'ProductName':['Product A', 'Product B', 'Product C'], 'ProductPrice':[100, 200, 300]}
df = pd.DataFrame(data, index=['A', 'B', 'C'])
df

  ProductName  ProductPrice
A   Product A           100
B   Product B           200
C   Product C           300

In [4]:
data = {'ProductName':['Product A', 'Product B', 'Product C'], 'ProductPrice':[100, 200, 300]}
Product_Ids = ['A', 'B', 'C']
df = pd.DataFrame(data, index=Product_Ids)
df

  ProductName  ProductPrice
A   Product A           100
B   Product B           200
C   Product C           300

### 3- Construct a DataFrame from list of dictionaries

In [5]:
data =[
    {'ProductName':'Product A', 'ProductPrice':100},
    {'ProductName':'Product B', 'ProductPrice':200},
    {'ProductName':'Product C', 'ProductPrice':300}
    ]
df = pd.DataFrame(data)
df

  ProductName  ProductPrice
0   Product A           100
1   Product B           200
2   Product C           300

In [6]:
data =[
    {'ProductName':'Product A', 'ProductPrice':100},
    {'ProductName':'Product B', 'ProductPrice':200},
    {'ProductName':'Product C', 'ProductPrice':[300, 400]}
    ]
df = pd.DataFrame(data)
df

  ProductName ProductPrice
0   Product A          100
1   Product B          200
2   Product C   [300, 400]

In [7]:
data =[{'ProductName':'Product A', 'ProductPrice':100},
      {'ProductName':'Product B', 'ProductPrice':200},
      {'ProductName':'Product C', 'ProductPrice':300},
      {'ProductName':'Product D'}
      ]
df = pd.DataFrame(data)
df

  ProductName  ProductPrice
0   Product A         100.0
1   Product B         200.0
2   Product C         300.0
3   Product D           NaN

### 4- Construct a DataFrame from a dictionary of Series pandas

In [8]:
seriesProduct = pd.Series(['Product A','Product B','Product C'])
seriesPrice = pd.Series([100, 200, 300])

In [9]:
data = {'Product Names': seriesProduct, 'Product Prices': seriesPrice}
df = pd.DataFrame(data)
df

  Product Names  Product Prices
0     Product A             100
1     Product B             200
2     Product C             300

In [10]:
seriesProduct = pd.Series(['Product A','Product B','Product C'], index=['A', 'B', 'C'])
seriesPrice = pd.Series([100, 200, 300],  index=['A', 'B', 'C'])

data = {'Product Names': seriesProduct, 'Product Prices': seriesPrice}
df = pd.DataFrame(data)
df

  Product Names  Product Prices
A     Product A             100
B     Product B             200
C     Product C             300

In [11]:
seriesProduct = pd.Series(['Product A','Product B','Product C'], index=['A', 'B', 'C'])
seriesPrice = pd.Series([100, 200, 300],  index=['C', 'B', 'A'])

data = {'Product Names': seriesProduct, 'Product Prices': seriesPrice}
df = pd.DataFrame(data)
df

  Product Names  Product Prices
A     Product A             300
B     Product B             200
C     Product C             100

### 5- Construct a DataFrame from a list of lists

In [13]:
data = [['Product A', 100], ['Product B', 200], ['Product C', 300]]
df = pd.DataFrame(data)
df

           0    1
0  Product A  100
1  Product B  200
2  Product C  300

In [14]:
data = [['Product A', 100], ['Product B', 200], ['Product C', 300, 400]]
df = pd.DataFrame(data)
df

           0    1      2
0  Product A  100    NaN
1  Product B  200    NaN
2  Product C  300  400.0

#### Provide column and index names

In [15]:
data = [['Product A', 100], ['Product B', 200], ['Product C', 300]]
df = pd.DataFrame(data)
df

           0    1
0  Product A  100
1  Product B  200
2  Product C  300

In [16]:
df.columns = ['ProductNames', 'ProductPrices']
df

  ProductNames  ProductPrices
0    Product A            100
1    Product B            200
2    Product C            300

In [17]:
df.index = ['A', 'B', 'C']
df

  ProductNames  ProductPrices
A    Product A            100
B    Product B            200
C    Product C            300

### 6- Construct a DataFrame in a professional way

#### Note : while construction you should provide : 
* its data
* its columns
* its index

In [18]:
data = pd.DataFrame(data = [['Product A', 100], ['Product B', 200], ['Product C', 300]],
                   columns = ['ProductNames', 'ProductPrices'],
                   index = ['A', 'B', 'C'])
df

  ProductNames  ProductPrices
A    Product A            100
B    Product B            200
C    Product C            300

In [20]:
df.shape

(3, 2)