## .sort_values()

In [1]:
import pandas as pd

In [2]:
numbers = pd.Series([90, 40, 10, 70, 30, 80])
numbers

0    90
1    40
2    10
3    70
4    30
5    80
dtype: int64

In [3]:
numbers.sort_values()

2    10
4    30
1    40
3    70
5    80
0    90
dtype: int64

In [4]:
numbers.sort_values(ascending=True)

2    10
4    30
1    40
3    70
5    80
0    90
dtype: int64

In [5]:
numbers.sort_values(ascending=False)

0    90
5    80
3    70
1    40
4    30
2    10
dtype: int64

In [9]:
data = pd.read_csv('Location.csv', squeeze=True)
locationData = data.copy()
locationData.head()

0     Location 3
1     Location 6
2     Location 8
3    Location 26
4    Location 34
Name: Location, dtype: object

In [10]:
locationData.sort_values()

637     Location 1
884     Location 1
465     Location 1
716    Location 10
623    Location 10
          ...
482    Location 97
128    Location 97
669    Location 97
757    Location 98
372    Location 99
Name: Location, Length: 1043, dtype: object

In [12]:
locationData.sort_values(ascending=True)

637     Location 1
884     Location 1
465     Location 1
716    Location 10
623    Location 10
          ...
482    Location 97
128    Location 97
669    Location 97
757    Location 98
372    Location 99
Name: Location, Length: 1043, dtype: object

In [13]:
locationData.sort_values(ascending=False)

372    Location 99
757    Location 98
128    Location 97
482    Location 97
271    Location 97
          ...
202    Location 10
298    Location 10
637     Location 1
884     Location 1
465     Location 1
Name: Location, Length: 1043, dtype: object